@import 'variables';

$bug: #67ab9f;
$dark: #212121;
$dragon: #7f628c;
$electric: #e6c35c;
$fairy: #ff66b3;
$fight: #964542;
$fire: #ff8000;
$flying: #d5beed;
$ghost: #966dab;
$grass: #97d077;
$ground: #e6c35c;
$ice: #8ae6e6;
$normal: #ecf0f1;
$poison: #a341a3;
$psychic: #e91e63;
$rock: #a37448;
$steel: #999999;
$water: #3399ff;

.bug {
  background-color: $bug;
}

.dark {
  background-color: $dark;
}

.dragon {
  background-color: $dragon;
}

.electric {
  background-color: $electric;
}

.fairy {
  background-color: $fairy;
}

.fighting {
  background-color: $fight;
}

.fire {
  background-color: $fire;
}

.flying {
  background-color: $flying;
}

.ghost {
  background-color: $ghost;
}

.grass {
  background-color: $grass;
}

.ground {
  background-color: $ground;
}

.ice {
  background-color: $ice;
}

.normal {
  background-color: $normal;
}

.poison {
  background-color: $poison;
}

.psychic {
  background-color: $psychic;
}

.rock {
  background-color: $rock;
}

.steel {
  background-color: $steel;
}

.water {
  background-color: $water;
}
