// Primary colors
$dark-red: #c2185b;
$red: #e91e63;
$gray: #949494;
$yellow: #e0e02d;

//Secondary colors (Pokemon types)
$bug: #67ab9f;
$dark: #212121;
$dragon: #7f628c;
$electric: #e6c35c;
$fairy: #ff66b3;
$fight: #964542;
$fire: #ff8000;
$flying: #d5beed;
$ghost: #966dab;
$grass: #97d077;
$ground: #e6c35c;
$ice: #8ae6e6;
$normal: #ecf0f1;
$poison: #a341a3;
$psychic: #e91e63;
$rock: #a37448;
$steel: #999999;
$water: #3399ff;
